<div class="leistung">
    <table>
        <thead>
            <tr>
                <th id="datum">{{datum}}</th>
                <th id="ort">{{ort}}</th>
                <th id="pkt">Punkte</th>
                <th id="note">{{note}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>{{bezkurz}}</p>
                </td>
                <td colspan="3">
                    <p>{{bezlang}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>