<div class="jumbotron">
    <div>
        <h2>Ausstellungen</h2>
        <show datum='14.09.2014' ort='Schaafheim' note='V 1 - Anw. Dt. Ch. VDH - CAC - Landessieger'>
            <p>Gebrauchshundeklasse:</p>
            knapp 3 Jahre alter typvoller Gebrauchsrüde, p3 o.l.u.r. -, maskulin geschnittener Kopf, dunkle Augen, korrekte Behänge, korrekte obere Linie, Brusttiefe und Vorbrust vorzüglich, sehr gute Winkelung vorne, hinten korrekt, schöne bemuskelte Hinterhand, sehr gute Kruppe, vorzügliches Haarkleid mit wunderschönem leuchtenden Brand, korrektes Gangwerk im Gehen zeitweise etwas eng, ruhiges Verhalten.
           <p>Richter: D. Bielefeld</p>
         </show>
        <show datum='13.09.2014' ort='Kösching' note='V 1 - Anw. Dt. Ch. VDH - CAC - Donausieger'>
            <p>Gebrauchshundeklasse:</p>
            P3 o.r. und o.l. fehlen / Schere, noch nicht ganz 3-jähriger Rüde mit vorzüglich proportioniertem Kopf und sanftem Ausdruck, vorz. Hals-Nacken-Rückenlinie, vorz. Brustkorb in allen Dimensionen, vorz. Vorbrust leicht abfallende Kruppe, korrekt gewinkelte Vorder-/Hinterhand, kräftig bemuskelt, geschlossenen Pfoten, temperamentvoll und raumgreifend in der Bewegung. Sehr gute Tan-Markierungen, wobei das TAN im Gesicht leuchtender sein dürfte. Brustfleck vorhanden. Freundliches, souveränes Wesen. Donausieger.
           <p>Richter: B. Nauer (CH)</p>
         </show>
        <show datum='07.09.2014' ort='Internationale Gießen' note='V 1 - Anw. Dt. Ch. VDH - Res. CAC - Res. CACIB'>
            <p>Gebrauchshundeklasse:</p>
            Nice head, correct scissors bite, elegant neck, good top line, slightly sloping croup, slightly steep shoulder, well angulated rear, good chest, moves well, parallel coming and going, efficent movement, excellent coat and markings, friendliy temper.
           <p>Richter: Svein Nordang (N)</p>
         </show>
        <show datum='24.08.2014' ort='Innsbruck' note='V 1 - CACA - Res. CACIB'>
            <p>Gebrauchshundeklasse:</p>
            Rüde von guter Größe und Typ, markanter gut geformter Kopf, trockener Hals, tiefe Brust, gute Rückenlinie, leicht abfallende Kruppe, gut gewinkelt, Fransen gut entwickelt, Brand ausreichend abgegenzt und sauber, freie Bewegung.
            <p>Richter: Hana Ahrens (A)</p>
        </show>        
        <show datum='23.08.2014' ort='Innsbruck' note='V 1 - CACA - CACIB - BOB - BOG4'>
            <p>Gebrauchshundeklasse:</p>
            Eleganter Rüde, großrahmig vom guten Format mit schönen Linien, markanter Kopf, tiefe Brust, sehr gut gestellt und gewinkelt, sehr gute Bewegung mit gutem Schub.
            <p>Richter: Phyllis Poduschka-Aigner (A)</p>
        </show>        
        <show datum='17.08.2014' ort='Ludwigshafen' note='V 1 - Anw. Dt. Ch. VDH - CAC - CACIB - BOB'>
            <p>Gebrauchshundeklasse:</p>
            2,5 Jahre alter, korrekt gebauter Rüde von sehr guter Größe, klar geschnittener Kopf, leicht gewölbter Nasenrücken, vorzüglicher Augenausdruck, korrekt angesetzte Behänge. Vorzügliche Hals-Nacken-Rückenlinie, etwas abfallende Kruppe. Korrekt gewinkelte Vorderhand, vorzüglich gewinkelte Hinterhand. Sehr gut bemuskelt, vorzügliche Knochenstärke. Sehr gutes Haarkleid in Struktur und Farbe mit deutlichen Tan-Marks. Korrekter Bewegungsablauf mit parallel geführter Vorder-und Hinterhand. Freundliches Verhalten.
            <p>Richter: Ch. Lohmann</p>
        </show>        
        <show datum='03.08.2014' ort='Bremen' note='V 1 - Anw. Dt. Ch. VDH'>
            <p>Gebrauchshundeklasse:</p>
            Nice head, good foreface, lovely big nose, elbows could be tighter, join is good, hindquaters could have a little more stand, angulation is quite good. Moved quite well.
            <p>Richter: Cathy Delmar (IRL)</p>
        </show>        
        <show datum='09.06.2014' ort='Nationale Saarbrücken' note='V 1 - Anw. Dt. Ch. VDH'>
            <p>Gebrauchshundeklasse:</p>
            2,5 Jahre, Kopf zum Körper passend, im Gebiss zwei Prämolarenverluste, schöne Nackenliene, gute obere Linie, gute Winkelungen, vorüglich in der Bewegung.
            <p>Richter: Stefan Sinko (SL)</p>
        </show>
        <show datum='08.06.2014' ort='Internationale Saarbrücken' note='V 1'>
            <p>Gebrauchshundeklasse:</p>
            2,5 jähriger großrahmiger Rüde, vorzüglich geschnittener Kopf, einwandfreier Lidschluss, dunkles Auge, trockener Hals, stabile Rückenlinie. Vorzügliche Winkelung der Vorhand, Kruppe abfallend, insgesamt braucht der Rüde noch mehr Substanz, z.Z. etwas schmal, korrekte Brandverteilung, gepflegtes schlichtes Haarkleid, sehr gute Brusttiefe, etwas wenig Vorbrust, angenehmes Wesen, leichtfüßiges Gangwerk.
            <p>Richter: Susan Stone Amport (CH) </p>
        </show>
        <show datum='01.06.2014' ort='Neumünster' note='V 2 - Res. -Anw. Dt. Ch. VDH '>
            <p>Gebrauchshundeklasse:</p>
            2,5 jährigem GS Rüde, maskuliner Kopf, langer, trockener Hals, leicht abfallende Kruppe, sehr gute Winkelung der Vorderhand. vorzügliche Hinterhandwinkelung. Kräftig entwickelte Brust, Pfoten korrekt aufgeknöchelt.
            Freudiges Gangwerk mit korrektem Rutenspiel. Lackschwarzes Haarkleid mit klarer Tanmarkierung. Angenehmes Wesen.
            <p>Richter: Claudia Pelka</p>
        </show>
        <show datum='04.05.2014' ort='Bestensee' note='V 2 - Res. -Anw. Dt. Ch. VDH '>
            <p>Gebrauchshundeklasse:</p>
            Maskuliner, eleganter Gordon-Rüde, typvoller Kopf und Ausdruck, langer, trockener Hals, vorzügl. gelagertes Schulterblatt, starke Vorbrust, vorzügl. obere und untere Linie, seidiges, glänzendes glattes Haarkleid, leuchtender, vorzügl. platzierter Brand. Gleichmäßig, schwungvolles Gangwerk mit korr. Rutenspiel. Sehr angenehmes Wesen. - Res. -Anw. Dt. Ch. VDH
            <p>Richter: Wolfgang Eickert</p>
        </show>
        <show datum='27.04.2014' ort='Lingen' note='V 1 - Anw. Dt. Ch. VDH - CAC - CACIB - BOS'>
            <p>Gebrauchshundeklasse:</p>
            Kräftig, korrekter Typ, sehr schöner Kopf, dunkles Auge, korrekter Brand, Textur und Farbe vorzüglich, gerader, fester Rücken, kräftige Vorbrust, sehr gute Front, Winkelung, Bewegung, Wesen vorzüglich. - Anw. Dt. Ch. VDH, CAC, CACIB, BOS
            <p>Richter: Erwin Deutscher (A)</p>
        </show>
        <show datum='04.04.2014' ort='Kösching' note='V 1 - Anw. Dt. Ch. VDH - CAC'>
            <p>Gebrauchshundeklasse:</p>
            Großrahmiger, 28 monatiger Rüde, typ. Kopf, dunkles Auge, freundlicher Ausdruck. Korrekte obere und untere Linie, korrekte Hals-Rückenlinie mit gewölbter, für sein Alter ausreichend tiefer Brust. Gepflegtes Haarkleid, schöne Tan-Färbung, flüssiges, raumgreifendes Gangwerk, elegantes Erscheinungsbild! - Anw. Dt. Ch. VDH, CAC
            <p>Richter: Rosemarie Wolff</p>
        </show>
        <show datum='07.09.2013' ort='Kösching' note='V 1 - Anw. Dt. Ch. VDH - CAC - Donausieger'>
            <p>Offene Klasse:</p>22 Monatiger, großrahmiger, eleganter Rassevetreter mit vorzüglichem Kopf und sehr guten parallelen, dunkles Auge, korrekter Lidschluss, eleganter Hals mit richtiger Länge, korrekte Winkelung vorne und hinten, gut entwickelte Brusttiefe und Vorbrust, sehr gut aufgerippt, korrekter Rutenansatz, sehr schöne kohlrabenschwarze Jacke mit korrekt plazierten Markings, freundliches Wesen, bewegt sich temperamentvoll. Donausieger Anw. Dt. Ch. VDH, CAC
            <p>Richter: Dr. Katrin Schmidt</p>
        </show>
        <show datum='04.05.2013' ort='Oldenburg' note='SG 1'>
            <p>Zwischenklasse:</p>Großer muskulärer Hund von sehr schönem Typ, gute Vorbrust, vorne und Hinten gut gewinkelt. Kräftige Oberlinie, hintere Sprunggelenke schön tief. Frei in der Bewegung mit reichlich Schub aus der Hinterhand.
            <p>Richter: Timmy Ursula Ralfe</p>
        </show>
        <show datum='05.04.2013' ort='Kösching' note='SG 1'>
            <p>Zwischenklasse:</p>Sehr harmonisch aufgebaut im richtigem Rahmen, maskuliner Kopf. Zur Gesamterscheinung passende Halslänge, sehr schön ausgeprägtes Gebäude, kurzer Rücken richtige Tiefe, Vorbrust muss sich noch etwas entwickeln, braucht insgesammt noch etwas Zeit. Raumgreifendes Gangwerk, im Kommen und Gehen korrekt, Rute wird sehr schön getragen.
            <p>Richter: Dr. Beyersdorf</p>
        </show>
        <show datum='17.02.2013' ort='Karlsruhe-Stupferich' note='V1 - BOB'>
            <p>Zwischenklasse:</p>15 Monate alter Rüde von korrekter Größe, hübscher Kopf, dunkle Augen, korrekt angesetzte Behänge, korrekte Hals-Rückenlinie, Brusttiefe dem Alter entsprechend, etwas mehr Vorbrust erwünscht, korrekte Vorder- und Hinterhandwinkelung, schönes schlichtes Haarkleid. Flottes raumgreifendes Gangwerk. Manchmal noch etwas unkontrolliert. Hund ist noch nicht voll entwickelt aber trotzdem im Vorzüglich, freundliches Wesen. Bester Rüde der Rasse.
            <p>Richterin: Rosemarie Wolff</p>
        </show>
    </div>
</div>