<html>
	<head>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Latest compiled and minified CSS 
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
		-->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/basic.css">
	</head>
	
	<body>
      <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <!-- Die Buttons muss ich noch verstehen - haben mit dem responsiven Design zu tun-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Rebel of Bavaria</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="#impressum">Impressum</a></li>
            </ul>
          </div><!--/.nav-collapse -->
		</div>

		<div id="wrap">
			<div data-ng-app class="container">	
				<div class="row">
					<div class="col-10 col-offset-1">
						<p class="well lead">
						Lore ipsum sdasd fasdf asd fas dfa sdf asd fa sdfasd f aarqwer qwerqwer q fg dfgsdfg sdfg sdfgsdfg sdfgs dfgs dfgs dfgsdfg sdfgwerq werq wer qwer qwer qwer qwer qwer qwer qwer 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-10 col-offset-1">
						<div id="carousel-example-generic" class="carousel slide">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							<li data-target="#carousel-example-generic" data-slide-to="3"></li>
							<li data-target="#carousel-example-generic" data-slide-to="4"></li>
							<li data-target="#carousel-example-generic" data-slide-to="5"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
							<div class="item active">
								<img src="bilda/leo 170.jpg" width="100%" height="400px" alt="Leo im Wasser">
							</div>
							<div class="item">
								<img src="bilda/leo 171.jpg" width="100%" height="400px" alt="">
							</div>
							<div class="item">
								<img src="bilda/leo 172.jpg" width="100%" height="400px" alt="">
							</div>						  
							<div class="item">
								<img src="bilda/leo 173.jpg" width="100%" height="400px" alt="">
							</div>						  
							<div class="item">
								<img src="bilda/leo 174.jpg" width="100%" height="400px" alt="">
							</div>						  
							<div class="item">
								<img src="bilda/leo 175.jpg" width="100%" height="400px" alt="">
							</div>						  
						</div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="icon-prev"></span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="icon-next"></span>
						  </a>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-10 col-offset-1">
						<p class="well lead">
						Lore ipsum sdasd fasdf asd fas dfa sdf asd fa sdfasd f aarqwer qwerqwer q fg dfgsdfg sdfg sdfgsdfg sdfgs dfgs dfgs dfgsdfg sdfgwerq werq wer qwer qwer qwer qwer qwer qwer qwer 
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
			</div>
		</div>

		<!-- JavaScript plugins (requires jQuery) -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<!-- Latest compiled and minified JavaScript 
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
		-->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.backstretch.min.js"></script>
		<script src="js/angular.js"></script>
		<script>
			$.backstretch("bilda/back.jpg");
		</script>
	</body>
 
</html>
