<div class="row">
    <div class="col-12 well lead">
        <p>Am 16.11.2011 wurde 
            <b>Coachman's Rebel of Bavaria</b> gewölft und von uns Leopold-Hubertus, kurz
            <b> Leo</b> genannt.</p>
        <p>Im Alter von 9 Wochen ist er aus dem schönen Oberbayern zu uns in den hohen Norden gezogen. Seit dem ist nichts mehr wie es war!</p>
        <p>Leo brachte wesentliche und ungeahnte Veränderungen, sogenannte
            <i>setterbedingte Metamorphosen</i>, in unser Leben.</p>
        <p>Das Wohnzimmer wurde zum Hundespielplatz, unsere Pferdeweiden sein Erstlingsrevier. Gemeinsam schlichen wir durch Feld und Wald, immer auf der Suche nach interessanten Spuren und Gerüchen. Doch damit nicht genug! Oliver machte für seinen Hund den Jagdschein, fuhr regelmäßig zum Training nach Bayern, wo er geduldig und unermüdlich von den Coachman's auf die Prüfungen vorbereitet wurde und entwickelte sich für das Hundetraining zum Frühaufsteher.</p>
        <p>Als Vorbereitung für die Herbstprüfungen, gingen wir mehr oder weniger gemeinsam in grünen Teichen schwimmen und mittlerweile finden wir in unserem Gefrierschrank kein Delikates-Bio-Rindfleisch vom zartesten Angus oder Galloway mehr, sondern nur noch besten, gewolften grünen Biopansen und einige "Trainingsleichen" für die weiteren Prüfungen.</p>
        <p>Dank seiner guten Welpenstube, in der Leo auf sein Leben nach der Welpenzeit optimal vorbereitet wurde, ist er:</p>
        <ul>
            <li>unser bester Freund und sportlicher Freizeitpartner</li>
            <li>ein liebenswerter Familienhund, freundlich und offen im Umgang mit Kindern jeder Altersklasse, immer zu allen "Schandtaten" bereit</li>
            <li>ein guter Seniorenbegleithund</li>
            <li>ein begeisterter Reitbegleithund</li>
            <li>ein mit sehr guter Nase und hohem Finderwillen veranlagter, passionierter Jagdhund.</li>
        </ul>
        <center>
            <p>
                <b>Also rundum ein ebenso toller wie vielseitiger Typ, der unser Leben auf den Kopf stellt und täglich bereichert.</b>
            </p>
        <image class="img-responsive" src="../bilda/news/IMG_2570.jpg"></image>
        </center>        
    </div>
</div>