<div class="row">
    <div class="col-10 col-offset-1">
        <p class="well lead">
        Lore ipsum sdasd fasdf asd fas dfa sdf asd fa sdfasd f aarqwer qwerqwer q fg dfgsdfg sdfg sdfgsdfg sdfgs dfgs dfgs dfgsdfg sdfgwerq werq wer qwer qwer qwer qwer qwer qwer qwer 
        </p>
    </div>
    <div class="col-2 col-offset-11">
        <div class="well">Links</div>
    </div>						
</div>
<div class="row">
    <div class="col-10 col-offset-1">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="bilda/leo 170.jpg" width="100%" height="400px" alt="Leo im Wasser">
                </div>
                <div class="item">
                    <img src="bilda/leo 171.jpg" width="100%" height="400px" alt="">
                </div>
                <div class="item">
                    <img src="bilda/leo 172.jpg" width="100%" height="400px" alt="">
                </div>						  
                <div class="item">
                    <img src="bilda/leo 173.jpg" width="100%" height="400px" alt="">
                </div>						  
                <div class="item">
                    <img src="bilda/leo 174.jpg" width="100%" height="400px" alt="">
                </div>						  
                <div class="item">
                    <img src="bilda/leo 175.jpg" width="100%" height="400px" alt="">
                </div>						  
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 col-offset-1">
        <p class="well lead">
        Lore ipsum sdasd fasdf asd fas dfa sdf asd fa sdfasd f aarqwer qwerqwer q fg dfgsdfg sdfg sdfgsdfg sdfgs dfgs dfgs dfgsdfg sdfgwerq werq wer qwer qwer qwer qwer qwer qwer qwer 
        </p>
    </div>
</div>