<div id="news" class="jumbotron">
    <news datum="12.10.2014" image="./bilda/news/brauch.jpeg">
        <b>Brauchbarkeit bestanden</b><br/>
        Leo kann nicht nur schön, sondern ist nun auch ein <b>brauchbarer</b> Jagdhund :-)<br/>
    </news>
    <news datum="02.10.2014" image="./bilda/news/dtchvdh.jpg">
        <b>Geschafft 2.0 !</b><br/>
        Leo ist nun auch offiziell Deutscher Champion (VDH) !!!</br>
    </news>
    <news datum="21.09.2014" image="./bilda/news/dsc.jpg">
        <b>Geschafft!</b></br>
        Leo ist nun auch offiziell Deutscher Schönheits-Champion (Verein) !!!</br>
    </news>
    <news datum="20.09.2014">
        <b>AZP mlE - oder ein spannender Prüfungskrimi in Günzburg</b></br>
         Leo und Oli haben gleich im ersten Versuch die AZP bestanden. Leo zeigte seine große Passion, seinen Jagdverstand und sein Können. Er arbeitete wie immer voller Eifer und mit sehr hoher Motivation, er erfreute die Richter in den Anlage- und Abrichtefächern.</br>

         Leider standen ihm heute seine enorme Arbeits- und Bringfreude im Fach Vorstehen im Wege, so dass er leider nur kurz Vorstand, um dann den abstreichenden Fasan zu seinem Führen zu bringen. Eigentlich eine tolle Apportleistung! Leider nur an der falschen Stelle!!!</br>

         Auch bei der Wasserarbeit zeigte Leo, dass er in seinem Element ist und holte sich, über sehr gute Arbeit, die erhofften 10 Punkte. Wir sind sehr stolz auf unseren Schatz
    </news>
    <news datum="14.09.2014" image="./bilda/news/ls.jpg">
        <b>CAC Schaafheim - Landessieger</b></br>
        Ein weiterer Titel für Leo! Auch in Schaafheim konnte Leo punkten, er wurde Landessieger Hessen-Pfalz-Saar 2014!</br>
    </news>
    <news datum="13.09.2014" image="./bilda/news/koesching.jpg">
        <b>CAC Kösching - Ein erfolgreicher Besuch in der alten Heimat</b></br>
        Eine lange Anreise und ein toller, erfolgreicher Tag unter Freunden. Leo erntete heute, nach einem Jahr, seine letzten Sterne  und darf sich in Kürze mit den Titeln:  Dt. Champion VDH und Dt. Schönheitschampion (Verein) schmücken. Außerdem darf er sich auch in diesem Jahr wieder Donausieger nennen! Ganz besonders gefreut hat uns, Leos erste Welpen VIP.-Valentin und Very Best, sowie ihre Familien zu sehen.
    </news>
    <news datum="07.09.2014">
        <b>Internationale Ausstellung in Gießen</b><br>
        Netterweise lernten wir auf der Ausstellung die Besitzerin von Leos Vater Fieldtalk's Guinness kennen. Darüber hinaus konnte Leo den norwegischen Richter Svein Nordang für sich gewinnen und erhielt das V1 die Anwartschaft Dt. Ch. VDH, das res. CAC und das res. CACIB.
    </news>
    <news datum="23/24.08.2014" image="./bilda/news/innsbruck.jpg">
        <b>Innsbruck 2014</b><br>
        Leo zeigte sich in Austria von seiner besten Seite und präsentierte sich vorzüglich im Ring.
        Das Resultat der erfolgreichen Doppel CACIB in Innsbruck für Leo.
        2x V1, 2x CACA, 1x CACIB, 1x res. CACIB und einmal das BOB mit dem 4.Platz im Ehrenring der FCI Gruppe 7.<br>
        Was will man mehr :-)
        </b>
    </news>
    <news datum="17.08.2014" image="./bilda/news/ludwigshafen.jpg">
        <b>Rheinlandpfalz-Sieger 2014</b><br>
        Wowww!! - Die CACIB in Ludwigshafen war für Leo ein voller Erfolg. Er zeige sich im Außenring von seiner besten Seite und erhielt von der Richterin Ch. Lohmann das V 1 - Anw. Dt. Ch. VDH - CAC - CACIB und das <b>BOB</b>!
    </news>
    <news datum="16.08.2014" image="./bilda/news/valentin_col.jpg">
        <b>V.I.P Valentin</b><br>
        Der erste Besuch von Leo bei seinem Sohn V.I.P. Valentin in der schönen Pfalz. Valentin teilt sich mit seinen Jagdkameraden Girgl und Elias ein sehr schönes Revier. Er lernt viel von seinem Führer Andreas und zeigt schon jetzt, dass er mal ein fleißiger Jagdhund werden will.<br>
        Wir danken Andreas für seine Gastfreundschaft und freuen uns auf ein Wiedersehen.
    </news>
    <news datum="03.08.2014" >
        <b>Nationale Ausstellung in Bremen</b><br>
        Heute stellten wir Leo auf der 6. Nationalen Ausstellung in Bremen aus. In der Gebrauchshundeklasse  präsentierte sich Leo vorzüglich, er erhielt von Richterin Cathy Delmar aus Irland das V1 und die Anw. Dt. Ch. VDH.
    </news>
    <news datum="02.08.2014" image="./bilda/news/wasser1.jpg">
        <b>Wasserübungstag in Stade</b><br>
        An unserem ersten Wasserübungstag zur Vorbereitung auf die AZP/Brauchbarkeit zeigte sich Leo voll in seinem Element. Er setzte seine Nase gekonnt ein, folgte der Schwimmspur, der nicht sichtigen Ente und stöberte konzentriert, fleissig und ausdauernd im Schilf. Schließlich drückte er die Ente auf das freie Wasser, wo ich sie erlegen konnte. Ohne Umschweife nahm Leo die Ente auf und brachte sie voller stolz zu mir. Ein toller Hund !!! Ich bin immer noch hoch begeistert und sehr stolz auf meinen Jagdhelfer in spe!<br>Ein lehrreicher Tag für uns beide!
    </news>
    <news datum="27.07.2014" image="./bilda/news/milow.jpg">
        <b>Milow zieht um</b><br>
        Am 2.6.14 wurden im Zwinger von Eixelberg zwei Rüden aus der Verpaarung <b>Amanda v. Eixelberg</b> und <b>Coachman's Rebel of Bavaria</b> geboren. Leider meinte es das Schicksal nicht gut und einer der Rüden verstarb nach wenigen Tagen. Somit gab es <i>nur</i> ein Einzelkind.<br>
        Erfreulicher Weise entwickelte sich der Bub sehr gut und überzeugt durch sein bezauberndes Wesen und sein Exterieur. Er zeigt auch schon erste vielversprechende jagdliche Anlagen an der Reizangel.<br>Schade jedoch, dass der Wunsch von Gerd Sebald, eine Hündin aus der Verpaarung für sich zu behalten nicht ermöglicht werden konnte. Leider liegen oft Züchterglück und Züchterpech sehr eng zusammen.<br><br>Wir wünschen Milow und seinem neuen Besitzer alles Gute!
    </news>
    <news datum="12.07.2014" image="./bilda/news/krautsand2.jpg">
        <b>Sommer, Sonne, Strand</b><br>
        bei unserem Ausflug nach Krautsand, genossen wir alle den tollen Strand. Leo war voll in seinem Element.
    </news>
    <news datum="05/06.07.2014" image="./bilda/news/springe.jpg">
      <b>Schulbank drücken, im Jagdschloss Springe</b><br>
      Das gemeinsame Weihnachtsgeschenk für Leo und Oliver konnte endlich eingelöst werden. An diesem Wochenende ging es zum Grundkurs Schweiß an den <a href='http://www.jaegerlehrhof.de/'>Jägerlehrhof</a> nach Springe. Am Samstag lernte man fleißig Theorie (was Leo nicht wirklich prickelnd fand) und trat anschließend die Fährten.
      <br>
      Am Sonntag war dann Leo's großer Tag! Mit viel Eifer und Findewillen bewältigte Leo seine erste Schweißfährte (ca. 900m). Leo hat schnell verstanden worum es geht und zeigte Oliver und Kursleiter <a href='http://jenshepper.de'>Jens Hepper</a> zügig den Weg zum Stück.
      <br><br>
      O-Ton Jens Hepper: <blockquote>Setter werden oftmals als Nachsuchenhunde verkannt. Wer mit der Arbeitsweise dieser Hunde vertraut ist, ihnen die notwendige Zeit gibt und sie nicht überfordert erhält einen guten, familienfreundlichen und verträglichen Jagdhelfer. Leo hat gezeigt, dass er in der Lage ist seinen Führer zügig zum Stück zu bringen und selbst an der Pendelsau hat er eine gute Standfestigkeit ob der „angriffslustigen“ Sau gezeigt.</blockquote>
    </news>
    <news datum="08/09.06.2014" image="./bilda/news/saarbruecken.jpg">
      <b>Wohl verdiente Abkühlung</b><br>
      Über Pfingsten schwitzten wir bei brüllender Hitze auf der CACIB Saarbrücken. An beiden Tagen zeigte das Thermometer Temperaturen über 30 Grad an. Abgesehen von der Parksituation, eine gut organisierte, freundliche Veranstaltung. Leo präsentierte sich, trotz der Hitze, an beiden Tagen hervorragend und erhielt jeweils das V1 in der Gebrauchshundeklasse. Der wohl verdiente Wasserspaß, in einem kleinen Waldfluss, war mit Sicherheit das Highlight des Tages für Leo.
    </news>
    <news datum="02.06.2014">
        <b>Amanda v. Eixelberg x Coachman's Rebel of Bavaria</b><br>
        Der Wurf ist gefallen. Es sind zwei Rüden im Zwinger v. Eixelberg geboren.
    </news>
    <news datum="01.06.2014" image="./bilda/news/neumunster.jpg">
        <b>Leo in der Holstenhalle</b><br>
        Auf der CACIB in Neumünster erlief Leo das V2, sowie die Reserve Anw. Dt. Ch. VDH, in der Gebrauchshundeklasse. Da der V1 Rüde schon den Titel Deutscher Champion VDH trägt, darf Leo die Reserveanwartschaft für sich nutzen bzw. sich diese anrechnen lassen. Somit ein erfolgreicher Tag für unseren Prinzen und ein weiteres Sternchen auf dem Weg zum Champions Titel.
    </news>
    <news datum="21.05.2014">
        <b>Gute Neuigkeiten</b><br>
        Gerade erhielten wir die positive Nachricht, dass der <b>Gordon Setter Club Deutschland e.V.</b> und der <b>Verein für Pointer und Setter e.V.</b> die jeweiligen Leistungsprüfungen anerkennen.<br>Somit kann Leo auch das CAC von Kösching zugesprochen werden. Wir danken Frau Petra Donner - beim GSCD zuständig für das Austellungswesen - für die Klärung!
    </news>
    <news datum="09.05.2014" image="./bilda/news/jghvstade.jpg">
        <b>JGHV - Stade</b><br>
        Leo ist nun ordentliches Mitglied im JGHV Stade e.V. und darf jeden Freitag zum Trainig in Richtung Buxtehude fahren. Aktuell trainieren wir in der VGP/VPS/BrPr Gruppe unter der Leitung von Karin Eylmann-von Borstel. Das Apportieren muss aufgefrischt werden und erste Schleppen hat Leo mit Feuereifer absolviert.
    </news>
    <news datum="04.05.2014">
        <b>Wolken über Bestensee - unser Sonnenschein im Ring</b><br>
        Bei lausiger Kälte und geschlossener Wolkendecke erhielt Leo, in der gut besetzten Gebrauchshundeklasse, das V2 mit Res. Anw. Dt. Ch. VDH.
    </news>
    <news datum="28.04.2014">
        <b>Der 2. Wurf</b><br>
        Heute erhielten wir die freudige Nachricht, dass auch Amanda v. Eixelberg tragend ist. Die Welpen werden Anfang Juni erwartet.<br>
        Wir sind schon sehr auf die kleinen Racker gespannt!
    </news>
    <news datum="27.04.2014" image="./bilda/news/lingen.jpg">
        <b>Ein Bayer im Emsland!</b><br>
        Ausnahmsweise mal eine kurze Anreise und trotzdem ein voller Erfolg. Die Emslandhallen kannte ich bisher nur durch die häufigen Besuche des Pferdemarktes in meiner Kindheit. Heute hingegen ging es zur<br>
        <b>49. Internationalen Hundeausstellung nach Lingen</b>.<br>
        Leo präsentierte sich vorzüglich in der Gebrauchshundeklasse und erlang so das V1, die Anw. Dt. Ch. VDH, das CAC, das CACIB und das BOS.<br>
        Für den Sieger unseren Herzens gab es den dicksten Rinderhüftknochen, den wir auf der Ausstellung finden konnten.
        <div class='anmerkung'>(Das Bild ist nicht von der Ausstellung, sondern von der Vorbereitung)</div>
    </news>
    <news datum="20.04.2014" image="./bilda/news/westhausen.jpg">
        <b>Wo Licht ist, ist auch Schatten und der Schatten hieß Olli :-).</b><br>
        Von Uichterritz ging es nach Westhausen zu den Prüfungstagen des GSCD. Eine Großveranstaltung, die uns beeindruckte, täglich starteten ca. 70 Hunde. Die Felder zeigten sich in einer unendlichen Weite, wie gemacht für vollblütige Hunde. Leo und Oliver traten zum internationalen Derby an. Leo zeigte wie immer eine rasante, souveräne Suche im besten Stiel, er flog geradezu über das weite Feld. Bei sehr guter Führigkeit stand er zunächst sicher vor... <br>Dem tröstenden Lob des Richters, dass Leo die beste Suche seiner Prüfungsgruppe zeigte, folgten ebenso offene Worte, dass es sich am Ende um einen Führerfehler gehandelt habe, so dass Leo das int. Derby nicht bestehen konnte.<br>
        Aber es hat trotzdem viel Spaß gemacht - wir kommen bestimmt wieder!
    </news>
    <news datum="18.04.2014" image="./bilda/news/uichteritz_es.jpg">
        <b>Vielen Dank an alle, die uns die Daumen gedrückt haben!</b><br>
        Voller Eifer, mit hohem Findewillen und sehr guter Führigkeit nutze Leo die großen Felder in Uichteritz. Er beindruckte damit sowohl die Richter, als auch die Korona. Leo und Oliver bestanden ihre erste Einzelsuche mit stolzen 175 Punkten im 2. Preis. Sie erzielten damit das beste Ergebnis der Prüfungstage im Leistungsbereich!
    </news>
    <news datum="06.04.2014 - 12.04.2014" image="../bilda/news/training.jpg">
        Dieses Jahr wollen wir die Einzelsuche und nach Möglichkeit das int. Derby Solo bestehen. Ohne Fleiss kein Preis, also haben wir gerne das Angebot der Coachman's zum Frühjahrtraining in Hilpoltstein angenommen. Leo hatte viel Spaß und war - wie immer - mit Sucheifer dabei!
    </news>
    <news datum="05.04.2014" image="../bilda/news/leo_missi_welpen.jpg">
        <b>Familienbesuch bei den Coachman's</b><br>
        Leo hat seine Welpen bei den Coachman's besucht. Wir waren von den kleinen temperamentvollen Rackern begeistert und konnten einige zukünftige Welpenbesitzer kennen lernen.
    </news>
   <news datum="04.04.2014" image="../bilda/news/leo_koesching.jpg">
        Die lange Anreise aus dem hohen Norden nach Kösching hat sich für Leo gelohnt. Er erhielt auf der Ausstellung des GSCD in der Gebrauchshundeklasse das V1 mit Anw. Dt. Ch. VDH.<br>
        Leider konnte ihm das CAC nicht gegeben werden, da der GSCD die Leistungsprüfungen des PuS nicht mehr anerkennt. Deshalb startet Leo in Westhausen am 20.04 im int. Derby solo.<br><b>Daumen drücken !!!!</b>
        <div class='anmerkung'>(Leo hat das CAC doch noch bekommen, siehe News vom 21.05.2014!)</div>
    </news>
    <news datum="28.03.2014" image="../bilda/news/amanda_leo.jpg">
        <b>Uuups!! I did it again ;-)</b><br>
        Wir freuen uns sehr, dass Leo das Vertrauen des <a href="http://www.gordons-vom-eixelberg.de/"> Zwingers von Eixelberg </a> gewonnen hat, er durfte am Freitag <b>Amanda vom Eixelberg</b> decken. Jetzt heisst es wieder, voller Spannung auf das Ergebnis zu warten.
    </news>
    <news datum="22.03.2014" image="../bilda/news/krautsand.jpg">
        <b>Ahhh jetzt - Ja! Eine Insel!!</b><br>
        Am Wochenende sind wir gerne der netten Einladung von Karin Eylmann- von Borstel gefolgt. Wir haben Sie, ihre Familie und Ihren <a href="http://www.vom-alten-hafen.de/">DL- Zwinger vom alten Hafen</a> auf der Insel Krautsand besucht. Bei tollem Wetter und hervorragenden Traininsbedingungen, ein Urlaubs- und Trainingstag, der allen viel Spaß bereitet hat. Danke Karin! Wir kommen gerne wieder!!
    </news>
    <news datum="22.02.2014" image="../bilda/news/leowurfclip.jpg">
        Missi und Leo haben alles richtig gemacht! 5 Buben und 5 Mädchen mit einem Geburtsgewicht von 420-510gr hat Missi auf die Welt gebracht.
        Wir wünschen den 'Very promising little adventures' alles erdenklich Gute für die Zukunft!
         <a href="http://www.coachmans.de/frame_bilder_v_wurf.htm"> Wir haben ein Auge auf Euch! </a>
    </news>
    <news datum="17.01.2014" image="../bilda/news/sono_missi.jpg">
        Die Vaterschaftsklage fällt aus ;-), Missi und Leo haben alles richtig gemacht. Heute erhielten wir die freudige Nachricht, dass Missi tragen ist! So hat sich die weihnachliche Stippvisite von Gerhard und Missi doch gelohnt. Wir sind schon sehr gespannt auf die neuen <a href="http://www.coachmans.de/frame-wurferwartung.html"> Coachman's!</a>
    </news>
    <news datum="23.12.2013" image="../bilda/news/missi_leo.jpg">
        Leo erhielt vorweihnachtlichen Hochzeitsbesuch. Coachman's Miss Marple (Missi) kam aus der Heimat, zu einem Überraschungsbesuch. Beide waren sich schnell einig und so konnten Gerhard und Missi am gleichen Abend wieder die Heimreise antreten, um gemeinsam mit Ihren Lieben das Weihnachstfest zu feiern.
    </news>
    <news datum="08.11.2013" image="">
        Per Post erhielten wir den Zuchttauglichkeitsnachweis vom <a href="http://www.gordon-setter.de/">Gordon Setter Club e.V.</a>, so dass Leo nicht nur die vollzahnigen Mädels des <a href="http://www.pointer-und-setter.de/">Vereins für Pointer und Setter</a>, sondern auch die des GSCD e.V. beglücken darf.
    </news>
    <news datum="27.10.2013" image="../bilda/news/IMG_9941.jpg">Last but not least. Die letzte Prüfung (HAP beim GSCD in Holtrop) in diesem Jahr bestand Leo mit
        <b>vorzüglichen 16 Punkten.</b>Leo zeigte in einer souveränen, hoch motivierten und von hervorragender Nasenarbeit geprägten Suche noch einmal was in ihm steckt. Er arbeitete selbständig, ohne den Kontakt zum Führer zu verlieren und beeindruckte Richter sowie die Korona, indem er den aufspringenden Hasen quittierte und sicher seine Suche fortsetzte. Leo bewies ein weiteres Mal seine Schussfestigkeit am Wasser. Vielen Dank an Helga und Gerhard Hesse für das geduldige Coaching!
        <div class='anmerkung'>(Das Bild ist nicht von der Prüfung, sondern von der Vorbereitung)</div>
    </news>
    <news datum="13.10.2013" image="../bilda/news/IMG_9951.jpg">Leo hat Abitur: Er zeigte heute, auf der Herbstjagdsuche im Raum Dinau, was in ihm steckt und bestand noch vor seinem 2. Geburtstag seine erste Leistungsprüfung mit tollen 184 Punkten im II. Preis. Im nächsten Jahr geht es dann weiter mit dem Bachelor und hoffentlich auch mit dem Master. Wir sind sehr stolz auf unseren "Kleinen"!</news>
    <news datum="07.09.2013" image="../bilda/news/Foto.jpg">Heute wurde Leo erfolgreich auf der Ausstellung des Vereins für Pointer und Setter in Kösching vorgestellt. Leo startete das erste Mal in der Offenen Klasse, er erhielt die Formwertnote : V1, CAC, Anw. Dt. Ch. VDH und wurde Donausieger 2013.</news>
    <news datum="08.09.2013" image="../bilda/news/IMG_0068.jpg">Heute startete Leo auf der Jugendsuche Herbst des Vereins für Pointer und Setter e.V. und erreichte tolle 74 Punkte.</news>
    <news datum="18.08.2013" image="../bilda/news/IMG_9965.jpg">Heute erhielt Leo die Zuchttauglichkeit im <a href="http://www.pointer-und-setter.de/">Verein Pointer und Setter</a>. Er bekam einen tollen Bericht und darf nun alle vollzahnigen Mädels beglücken!</news>
</div>
