<div class="jumbotron">
    <!--- Pruefungen -->
    <div>
        <h2>Prüfungen</h2>
        <leistung datum='12.10.2014' ort='Stade' note='-' bezkurz='BR' bezlang='Brauchbarkeit - JGHV Stade'></leistung>
        <leistung datum='20.09.2014' ort='Günzburg' note='164 - 10 Pkt hinter der lebenden Ente' bezkurz='AZP' bezlang='Alterszuchtprüfung mlE'></leistung>
        <leistung datum='18.04.2014' ort='Uichteritz' note='175 - 2. Preis' bezkurz='ES' bezlang='Einzelsuche'></leistung>
        <leistung datum='27.10.2013' ort='Holtrop' note='16' bezkurz='HAP' bezlang='Herbstanlage Prüfung'></leistung>
        <leistung datum='13.10.2013' ort='Dinau' note='184 - 2. Preis' bezkurz='HJS' bezlang='Herbstjagdsuche'></leistung>
        <leistung datum='08.09.2013' ort='Meckenhausen' note='74' bezkurz='JuSH' bezlang='Jugendsuche Herbst'></leistung>
        <leistung datum='21.04.2013' ort='Giebelstadt' note='69' bezkurz='JuS' bezlang='Jugendsuche'></leistung>
        <leistung datum='06.04.2013' ort='Dinau' note='12' bezkurz='JAP' bezlang='Jugendanlageprüfung'></leistung>
    </div>
</div>