<div id="zucht" class="jumbotron row">
    <div class="row">
    <div class="ztp">
        <image src="../bilda/div/logopup.gif"></image>
        <h3>Zuchttauglich im Verein für Pointer und Setter e.V.</h3>
    </div>
    <div class="ztp">
        <image src="../bilda/div/logo_gordonsetter.gif"></image>
        <h3>Zuchttauglich im Gordon Setter Club Deutschland e.V.</h3>
    </div>
    </div>
    
    <div class="row">
    <div id="bild" class="container col-6">
        <image class="img-responsive img-rounded" src="../bilda/jugend/leo_28.jpg"></image>
    </div>
    <div id="daten" class="col-6">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Coachman's Rebel of Bavaria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wurftag</td>
                    <td>16.11.2011</td>
                </tr>
                <tr>
                    <td>Züchter</td>
                    <td>
                        <a href="http://www.coachmans.de/">Coachman's</a>
                    </td>
                </tr>
                <tr>
                    <td>Rufname</td>
                    <td>Leo!</td>
                </tr>
                <tr>
                    <td>Formwert</td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>Augen</td>
                    <td>frei PRArcd4</td>
                </tr>
                <tr>
                    <td>Zähne</td>
                    <td>Scherengebiss, P3 ol. und or. -</td>
                </tr>
                <tr>
                    <td>Schulterhöhe</td>
                    <td>69 cm</td>
                </tr>
                <tr>
                    <td>Prüfungen</td>
                    <td>JuS, JAP, JuSH, HAP, HJS, ES, AZP mlE, BR</td>
                </tr>
                <tr>
                    <td>Titel</td>
                    <td>
                        <b>Deutscher Champion (VDH)</b><br>
                        <b>Deutscher Schönheits-Champion (Verein)</b><br>
                        <b>Landessieger Hessen-Pfalz-Saar 2014</b><br>
                        Rheinland-Pfalz-Sieger 2014<br>
                        Donausieger 2014<br>
                        Donausieger 2013<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div id="wurferwartung" class="container row">
        <h3>Wurf (02/06/2014):
            <br>
            <a href="http://www.gordons-vom-eixelberg.de/">Amanda v. Eixelberg &amp; Coachman's Rebel of Bavaria</a>
        </h3>
    </div>
    <div id="wurferwartung" class="container row">
        <h3>Wurf (22/02/2014):
            <br>
            <a href="http://www.coachmans.de/frame_bilder_v_wurf.htm">Coachman's Miss Marple &amp; Coachman's Rebel of Bavaria</a>
        </h3>
    </div>
</div>